<div>
    <h1>Table</h1>

    <div style="float: left;">
        <input placeholder="filter" ng-model="ctrl.filter"/>
        <table border="1" cellpadding="5">
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Phone</th>
            </tr>
            <tr class="scale-fade-in" ng-repeat="v in ctrl.values | filter: ctrl.filter">
                <td>{{v.no}}</td>
                <td>{{v.name}}</td>
                <td>{{v.lastName}}</td>
                <td>{{v.phone}}</td>
            </tr>
        </table>
    </div>
</div>